/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


.width-80 {
    width: 80%;
    margin: 0 auto;
}
/* /General Section */


header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    background-size: cover;
}

 nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
}

.float {
    float: left;
    height: 100%;
}

.float-right {
    float: right;
}

 .navbar .float:first-child,
 .navbar .float:last-child {
    width: 25%;
}

.navbar .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-right: 15px;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 1.1em;
    font-size: 3em;
}

.jumbo-desc {
    font-size: 1.2em;
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big{
    padding: 7px 23px;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}

/* main  */
main {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    overflow: hidden;
}

.bg-color {
    background-color: #f6f6f6;
}

.center {
    margin: 4em auto;
}

#item-1 {
    width: 580px;
    float: right;
    padding: 3.4em; 
}

#item-2 {
    width: 580px;
    padding: 3.4em; 
}

#item-3 {
    width: 580px;
    float: right;
    padding: 3.4em; 
}
/*  section 1 */

.container .col-img {
    width: calc(60% - 40px);
    height: 100%;
}

.container .col-text {
    width: 40%;
    height: 100%;
}

.col-text .main-text {
    width: 50%;
    margin-top: 4.2em;
}

.main-title {
    font-size: 2em;
    line-height: 1.5em;
    text-align: left;
    margin-bottom: 0.7em;
}

.main-par {
    font-size: 0.9em;
    line-height: 1.5em;
}

/*  section 4 */

.other-info {
    width: 70%;
    margin: 3em auto 0;
    text-align: center;
}

.other-info h1,
.other-info h2 {
    padding: 1em 5em;
}

.stars {
    background-image: url(../img/stars.svg);
    background-size: cover;
    width: 80%;
    margin: 0 auto;
}

.other-info a.btn {
    margin: 14px 0 5em 0;
    background-color: #89A2E6;
    color: white;
}

.other-info a.btn:hover {
    color: #265ee8;
}

/* footer  */
.black {
    background-color: #22272A;
}

.container-foot {
    width: 80%;
    margin: 0 auto;
}

.info {
    margin: 5em auto 2em;
    border-bottom: 1px solid #648AE8;
    padding-bottom: 2em;
}
    /* colonna social  */
.social {
    padding: 0 1em;
}

.social h1 {
    color: #648AE8;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
    
.social .lingua img {
    height: 1em;
    vertical-align: middle;
}
    
.lingua {
    color: white;
    font-size: 0.8em;
    line-height: 1em;
    margin-bottom: 2em;
}
    
.info div.social {
    width: 30%;
}

.social-logo {
    color: white;
    font-size: 1.5em;
}

.social-logo i{
    margin: 0 0.5em;
}
  /* colonna info utili  */
.info div.list {
    width: calc(70% / 4);
}  

.list ul {
    list-style: none;
}

.list li {
    line-height: 2em;
}

.list li a {
    color: white;
    text-decoration: none;
}

.list a:hover {
    color: #648AE8;
    text-decoration: underline;
}

.list .list_title {
    color: #648AE8;
    font-weight: bold;
}

.list .list_title:hover {
    text-decoration: underline;
}

.bottom {
    margin-bottom: 2em;
}

a.btn.blue{
    background-color: #8EA1E1;
    color: white;
}

a.btn.blue:hover,
a.btn.blue:active,
a.btn.blue:focus {
    color: #265ee8;
}







